apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx
        volumeMounts:
        - name: basic-config
          mountPath: /etc/nginx/conf.d
        ports:
        - containerPort: 80
      volumes:
        - name: basic-config
          configMap:
            name: basic-config
